Flask==3.1.0
Flask-Bootstrap==3.3.7.1
psycopg
psycopg-binary
aiofiles
anyio
argcomplete
attrs
beautifulsoup4
black
boto3
botocore
Brotli
cachetools
certifi
charset-normalizer
click
contourpy
cycler
dacite
Deprecated
dill
dnspython
fiftyone
fiftyone-brain
fiftyone_db
fonttools
ftfy
future
glob2
graphql-core
h11
h2
hpack
httpcore
httpx
humanize
Hypercorn
hyperframe
idna
imageio
inflate64
iniconfig
Jinja2
jmespath
joblib
jsonlines
kaleido
kiwisolver
lazy_loader
MarkupSafe
matplotlib
mongoengine
motor
multivolumefile
mypy-extensions
narwhals
networkx
numpy
opencv-python-headless
packaging
pandas
pathspec
pillow
platformdirs
plotly
pluggy
pprintpp
priority
psutil
py7zr
pybcj
pycryptodomex
pydash
pymongo
pyparsing
pyppmd
pytest
python-dateutil
pytz
PyYAML
pyzstd
rarfile
regex
requests
retrying
rtree
s3transfer
scikit-image
scikit-learn
scipy
setuptools
six
sniffio
sortedcontainers
soupsieve
sse-starlette
sseclient-py
starlette
strawberry-graphql
tabulate
texttable
threadpoolctl
tifffile
typing_extensions
tzdata
tzlocal
universal-analytics-python3
urllib3
voxel51-eta
wcwidth
wrapt
wsproto
xmltodict
kaggle
opendatasets
# np_utils
# matplotlib
# pandas
keras
tensorflow
# graphviz
# xgboost
# catboost
# vecstack

# lightgbm
# openpyxl

# openai
# duckduckgo-search
# anthropic
# trubrics
# chromadb
# langchain
# langchain-community
# langchain-core
# langchain-openai
# tiktoken
# sentence-transformers
# tf-keras
# ollama

# unstructured-client
# unstructured
# unstructured-inference
# unstructured.pytesseract
# python-dotenv
# panel
# ipython
# python-pptx
# pdf2image
# pdfminer
# opencv-python

# pikepdf
# pypdf

requests

